# Ignore everything
/*

# But not these files...
!.gitignore
!data.csv
!thumbnail.png
!README.md

!src/
src/*
!src/test.py

!src/sunbears/
src/sunbears/*
!src/sunbears/dataframe.py
!src/sunbears/parser.py

